# === OS & editor-specific files ===
.DS_Store
Thumbs.db
.vscode/
.idea/

# === Python cache files ===
__pycache__/
*.py[cod]
*.pybiomart.sqlite

# === Jupyter notebook checkpoints ===
.ipynb_checkpoints/

# === Data files ===
data/modeling/
data/processed/
data/raw/
data/refs/
data/trajectories/
data/unzip/

# === MesenCoder files =======
modeling/checkpoints/
modeling/lightning_logs/
modeling/wandb/
