# === Python cache files ===
__pycache__/
*.py[cod]
03_signatures/scripts/.pybiomart.sqlite

# === Jupyter notebook checkpoints ===
.ipynb_checkpoints/

# === Data files ===
data/raw/
data/unzip/
data/processed/
data/trajectories/

# === OS & editor-specific files ===
.DS_Store
Thumbs.db
.vscode/
.idea/
